<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="content">
        <h1>Har Sanitizer</h1>
        <p>This a browser based tool which will take your har and remove anything substantial from it</p>
        <input id="file" type="file" />
    </div>
</body>
</html>
